asgiref==3.5.2
attrs==21.4.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.5
distlib==0.3.4
Django==4.0.4
django-datatables-view==1.20.0
fastjsonschema==2.15.3
fastobo==0.11.1
filelock==3.7.0
idna==3.3
importlib-resources==5.8.0
joblib==1.1.0
jsonschema==4.6.0
jupyter-core==4.10.0
nbformat==5.4.0
networkx==2.8
nltk==3.7
numpy==1.22.3
ordered-set==4.1.0
pandas==1.4.2
platformdirs==2.5.2
pronto==2.4.4
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
regex==2022.3.15
requests==2.27.1
semantic-version==2.9.0
six
sqlparse==0.4.2
strsim==0.0.3
tabulate==0.8.9
tqdm==4.64.0
traitlets==5.3.0
typesense==0.13.1
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
zipp==3.8.0
