{% load i18n static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
          rel="stylesheet">

    <link href="{% static "css/bootstrapAnnotation.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-icons.css" %}" rel="stylesheet"/>
    <link href="{% static "css/aos.css" %}" rel="stylesheet"/>
    <link href="{% static "css/glightbox.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/swiper-bundle.min.css" %}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{% static "css/datatables.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}"/>

    <link href="{% static "css/variables.css" %}" rel="stylesheet"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet"/>

    <script type="text/javascript" src="{% static "js/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/semantic.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pdfmake.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vfs_fonts.js" %}"></script>

    <script type="text/javascript">
        const ANNOTATION_LIST_JSON_URL = '{% url "annotation_list_json" %}';
        const DT_LANGUAGE = {
            "emptyTable": "{% trans "No data available in table" %}",
            "info": "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty": "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered": "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing": "{% trans "Processing..." %}",
            "search": "{% trans "Search:" %}",
            "zeroRecords": "{% trans "No matching records found" %}",
            "paginate": {
                "first": "{% trans "First" %}",
                "last": "{% trans "Last" %}",
                "next": "{% trans "Next" %}",
                "previous": "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending": "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
    </script>
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            let table = $("#annotationTable").DataTable({#}
    {#                lengthChange: true,#}
    {#                paging: true,#}
    {#                responsive: true,#}
    {#                autoWidth: true,#}
    {#                buttons: [#}
    {#                    "colvis",#}
    {#                    {extend: "copyHtml5", className: "dtButton"},#}
    {#                    "csvHtml5",#}
    {#                    "excelHtml5",#}
    {#                    "pdfHtml5",#}
    {#                    "print"#}
    {#                ]#}
    {#            });#}
    {#        });#}
    {##}
    {#    </script>#}
<body>
<div id="particles-js"></div>
<div class="flex-wrapper">

    <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a class="btn-getstarted" href="{% url "index" %}">Home</a>
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="ui small compact selection icon dropdown table-size pl-3">
                    <i class="teal expand icon"></i>
                    <input name="table- size" type="hidden" value="default">
                    <i class="dropdown icon table-size"></i>
                    <div class="text" id="table-size-text">Table size</div>
                    <div class="menu">
                        <div class="item" id="size-small" data-value="default">Small</div>
                        <div class="item" id="size-normal" data-value="0">Normal</div>
                        <div class="item" id="size-large" data-value="1">Large</div>
                    </div>
                </div>
                <a class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                    <h1><span>G</span>ene <span>D</span>isease <span>A</span>nnotation <span>F</span>ile<span>.</span></h1>
                </a>
            </div>
        </div>
    </header>


    <main id="main" style="width: 100%;">
        <section id="hero-animated" class="hero-animated" data-aos="zoom-out">
            <table id="annotationTable" class="ui small selectable striped yellow table unstackable"
                   style="width: 100%">
                <thead>
                    <tr id="inputs">
                        <th>
                            <div class="ui items justify-content-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="0" type="search" placeholder="Search Gene Symbol">
                                    </div>
                                </div>
                                <div class="item">
                                    <span>Gene Symbol</span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="ui items justify-content-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="1" type="search" placeholder="Search Entrez ID">
                                    </div>
                                </div>
                                <div class="item">
                                    <span>Entrez ID</span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="ui items justify-content-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="2" type="search" placeholder="Search Uniprot ID">
                                    </div>
                                </div>
                                <div class="item">
                                    <span>Uniprot ID</span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="ui items justify-content-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="3" type="search" placeholder="Search Ensembl ID">
                                    </div>
                                </div>
                                <div class="item">
                                    <span>Ensembl ID</span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="ui items justify-content-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="4" type="search" placeholder="Search DOID">
                                    </div>
                                </div>
                                <div class="item">
                                    <span>DOID</span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="ui items justify-content-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="5" type="search" placeholder="Search Source">
                                    </div>
                                </div>
                                <div class="item">
                                    <span>Source</span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="ui items justify-content-sm-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="6" type="search" placeholder="Search Disease Name">
                                    </div>
                                </div>
                                <div class="item ">
                                    <span>Disease Name</span>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="ui items justify-content-sm-start">
                                <div class="item">
                                    <div class="ui input mini input-search">
                                        <input id="7" type="search" placeholder="Search DOID Source">
                                    </div>
                                </div>
                                <div class="item ">
                                    <span>DOID Source</span>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Gene Symbol</th>
                        <th>Entrez ID</th>
                        <th>Uniprot ID</th>
                        <th>Ensembl ID</th>
                        <th>DOID</th>
                        <th>Sources</th>
                        <th>Disease Name</th>
                        <th>DOID Source</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </main>

    <footer id="footer" class="footer">
        <div class="footer-legal text-center">
            <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>GDA</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Luka Milosevic <a href="https://www.bg.ac.rs/en/">University of Belgrade</a>, <a
                            href="http://www.matf.bg.ac.rs/eng/">Faculty of Mathematics</a>
                        {#                    and <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
                    </div>
                </div>

                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a id="github" href="https://github.com/lukamilosevic11" target="_blank"
                    >
                        <i class="bi bi-github"></i>
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lukamilosevic11/" target="_blank"
                    >
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a id="phoneNumber" href="#">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                    <a id="website" href="https://alas.matf.bg.ac.rs/~mi15167/" target="_blank"
                    >
                        <i class="bi bi-globe"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>
</div>
<script type="text/javascript" src="{% static "js/aos.js" %}"></script>
<script type="text/javascript" src="{% static "js/glightbox.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/swiper-bundle.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script type="text/javascript" src="{% static "js/particles.js" %}"></script>
<script type="text/javascript" src="{% static "js/appAnnotation.js" %}"></script>
<script type="text/javascript" src="{% static "js/annotationFileSettings.js" %}"></script>

</body>

</html>
