{% load i18n static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GDA</title>
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.png" %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
          rel="stylesheet">

    <link href="{% static "css/bootstrapAnnotation.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-icons.css" %}" rel="stylesheet"/>
    <link href="{% static "css/aos.css" %}" rel="stylesheet"/>
    <link href="{% static "css/glightbox.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/swiper-bundle.min.css" %}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{% static "css/datatables.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}"/>

    <link href="{% static "css/variables.css" %}" rel="stylesheet"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet"/>

    <script type="text/javascript" src="{% static "js/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/semantic.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pdfmake.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vfs_fonts.js" %}"></script>

    <script type="text/javascript">
        const ANNOTATION_LIST_JSON_URL = '{% url "annotation_list_json" %}';
        const DT_LANGUAGE = {
            "emptyTable": "{% trans "No data available in table" %}",
            "info": "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty": "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered": "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing": "{% trans "Processing..." %}",
            "search": "{% trans "Search:" %}",
            "zeroRecords": "{% trans "No matching records found" %}",
            "paginate": {
                "first": "{% trans "First" %}",
                "last": "{% trans "Last" %}",
                "next": "{% trans "Next" %}",
                "previous": "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending": "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
    </script>
<body>
<div id="particles-js"></div>
<div class="flex-wrapper">

    <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a class="btn-getstarted" href="{% url "index" %}">Home</a>
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="ui small compact selection icon dropdown table-size pl-3">
                    <i class="teal expand icon"></i>
                    <input name="table- size" type="hidden" value="default">
                    <i class="dropdown icon table-size"></i>
                    <div class="text" id="table-size-text">Table size</div>
                    <div class="menu">
                        <div class="item" id="size-small" data-value="default">Small</div>
                        <div class="item" id="size-normal" data-value="0">Normal</div>
                        <div class="item" id="size-large" data-value="1">Large</div>
                    </div>
                </div>
                <a class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                    <h1><span>G</span>ene <span>D</span>isease <span>A</span>nnotation <span>F</span>ile<span>.</span>
                    </h1>
                </a>
            </div>
        </div>
    </header>

    <main id="main" style="width: 100%;">
        <section id="hero-animated" class="hero-animated" data-aos="zoom-out">
            <table id="annotationTable" class="ui small selectable striped yellow table unstackable"
                   style="width: 100%">
                <thead>
                <tr id="inputs">
                    <th>
                        <div class="ui items justify-content-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="0" type="search" placeholder="Search Gene Symbol">
                                </div>
                            </div>
                            <div class="item">
                                <span>Gene Symbol</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui items justify-content-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="1" type="search" placeholder="Search Entrez ID">
                                </div>
                            </div>
                            <div class="item">
                                <span>Entrez ID</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui items justify-content-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="2" type="search" placeholder="Search UniProt ID">
                                </div>
                            </div>
                            <div class="item">
                                <span>UniProt ID</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui items justify-content-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="3" type="search" placeholder="Search Ensembl ID">
                                </div>
                            </div>
                            <div class="item">
                                <span>Ensembl ID</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui items justify-content-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="4" type="search" placeholder="Search DOID">
                                </div>
                            </div>
                            <div class="item">
                                <span>DOID</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui items justify-content-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="5" type="search" placeholder="Search Source">
                                </div>
                            </div>
                            <div class="item">
                                <span>Source</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui items justify-content-sm-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="6" type="search" placeholder="Search Disease Name">
                                </div>
                            </div>
                            <div class="item ">
                                <span>Disease Name</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="ui items justify-content-sm-start">
                            <div class="item">
                                <div class="ui input mini input-search">
                                    <input id="7" type="search" placeholder="Search DOID Source">
                                </div>
                            </div>
                            <div class="item ">
                                <span>DOID Source</span>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Gene Symbol</th>
                    <th>Entrez ID</th>
                    <th>Uniprot ID</th>
                    <th>Ensembl ID</th>
                    <th>DOID</th>
                    <th>Sources</th>
                    <th>Disease Name</th>
                    <th>DOID Source</th>
                </tr>
                </tfoot>
            </table>
        </section>
    </main>

    <div id="helpModal" class="ui modal top aligned semantic-modal">
        <i class="close icon inside"></i>
        <div id="helpHeader" class="header">
            Help
        </div>
        <div class="scrolling content">
            <div class="ui raised segments">
                <div id="segment_0" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to return to the homepage?</p>
                </div>
                <div id="secondary0" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/homeButton.png" %}" style="width:95px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">
                            Use <span style="font-weight: bold;">Home</span> button for returning to the Homepage.
                        </span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_1" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to resize the table?</p>
                </div>
                <div id="secondary1" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/size.png" %}" style="width:115px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">The table can be resized using a button next to the <b>Home</b> button, and there are three different sizes: <b>small</b>, <b>medium</b>, and <b>large</b>.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_2" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to change the visibility of the columns?</p>
                </div>
                <div id="secondary2" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/columnSize.png" %}" style="width:150px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">Click on the <b>Column visibility</b> button and choose which column you want to hide or show.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_3" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to extract data?</p>
                </div>
                <div id="secondary3" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/extractData.png" %}" style="width:130px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">Click on the button <b>Exact data</b> and choose extraction format.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_4" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to copy data from the table?</p>
                </div>
                <div id="secondary4" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/copy.png" %}" style="width:83px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">By pressing <b>Copy</b> button, there is an option to copy one or multiple rows.  Also, if there are no rows selected current table page will be copied.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_5" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to select rows?</p>
                </div>
                <div id="secondary5" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/selectAll.png" %}" style="width:110px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">Selection could be done with a mouse click on the row, if there is a reason for selecting all rows on the current page, then click the <b>Select all</b> button.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_6" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to deselect rows?</p>
                </div>
                <div id="secondary6" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/deselectAll.png" %}" style="width:120px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">Click on a row that you want to deselect, if you want to deselect all rows, then click on the button <b>Deselect all</b>.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_7" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to change number of entries?</p>
                </div>
                <div id="secondary7" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/showEntries.png" %}" style="width:140px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">Click on the button for the number of entries and choose one of the options: <b>10</b>, <b>25</b>, <b>50</b>, or <b>100</b>.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_8" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to search for data inside the table?</p>
                </div>
                <div id="secondary8" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/search.png" %}" style="width:200px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">Enter a search term inside the search box.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_9" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to search and order data by column?</p>
                </div>
                <div id="secondary9" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/searchAndOrder.png" %}" style="width:165px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">For ordering, just click on the column which you want to sort. For searching, just enter a search term inside the search box for a column that you want to search.</span>
                    </div>
                </div>
            </div>

            <div class="ui raised segments">
                <div id="segment_10" class="ui segment segmentDropdown">
                    <p style="font-weight: bold;">How to use pagination?</p>
                </div>
                <div id="secondary10" class="ui secondary segment secondaryDropdown">
                    <div style="display: flex; flex-direction: row;">
                        <div class="ui image">
                            <img src="{% static "img/help/pagination.png" %}" style="width:370px; height:auto;">
                        </div>
                        <span style="margin-left: 20px;">You can choose <b>Previous</b>, <b>Next</b>, or a page close to the current page. Also, you can enter the page number and go straight to that page.</span>
                    </div>
                </div>
            </div>


        </div>
        <div class="actions">
            <div class="ui black deny button">
                Close
            </div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="footer-legal text-center">
            <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>GDA</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Luka Milosevic <a href="https://www.bg.ac.rs/en/">University of Belgrade</a>, <a
                            href="http://www.matf.bg.ac.rs/eng/">Faculty of Mathematics</a>
                        {#                    and <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
                    </div>
                </div>

                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a id="github" href="https://github.com/lukamilosevic11" target="_blank"
                    >
                        <i class="bi bi-github"></i>
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lukamilosevic11/" target="_blank"
                    >
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a id="phoneNumber" href="#">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                    <a id="website" href="https://alas.matf.bg.ac.rs/~mi15167/" target="_blank">
                        <i class="bi bi-globe"></i>
                    </a>
                    <a id="help" href="#">
                        <i class="bi bi-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>
</div>
<script type="text/javascript" src="{% static "js/aos.js" %}"></script>
<script type="text/javascript" src="{% static "js/glightbox.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/swiper-bundle.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script type="text/javascript" src="{% static "js/particles.js" %}"></script>
<script type="text/javascript" src="{% static "js/appAnnotation.js" %}"></script>
<script type="text/javascript" src="{% static "js/annotationFileSettings.js" %}"></script>

</body>

</html>
